/* Add CSS Styling */
.botaopreto{
    background-color: black;
    color: white;

}
.botaoamarelo{
    background-color: yellow;
    color: black;

}

.botaoamarelo,
.botaopreto{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;

}