body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;

}


.title {
  background: #e3f4ff;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  font-size: 25px;
  padding: 30px;
}

.button-container {
  background: #e3f4ff;
  margin:10px auto;
  padding: 40px;
  font-size: 50px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  width: auto;
  height: auto;
  font-size
}